@model RentoBuddy.Models.CartViewModels.OrderModel


@{
    ViewData["Title"] = "Payment";
}


<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
        on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-lg-12">


            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table">
                    <div class="row display-tr">
                        <h3 class="panel-title display-td">Payment Details</h3>
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                
                @using (Html.BeginForm("OrderReceipt", "Order", FormMethod.Post,
                new { @id = "payment-form" }))
                    {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cardNumber">Name on Card</label>
                                <div class="input-group">
                                    @*<input type="tel"
                                           class="form-control"
                                           name="cardNumber"
                                           placeholder="Enter Full Name"
                                           autocomplete="cc-number"
                                           required autofocus />*@
                                    @Html.TextBoxFor(m => m.PaymentModel.NameOnCard, "Enter Full Name",
new
{
@class = "form-control",
@style = "width: 100%",
@type = "tel",
@name = "cardNumber",
@autocomplete = "cc-number",
@required ="required",
@autofocus="autofocus"
})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <div class="input-group">
                                    @*<input type="tel"
                                           class="form-control"
                                           name="cardNumber"
                                           placeholder="Valid Card Number"
                                           autocomplete="cc-number"
                                           required autofocus />*@
                                    @Html.TextBoxFor(m => m.PaymentModel.CardNumber, "Valid Card Number",
new
{
@class = "form-control",
@style = "width: 100%",
@type = "tel",
@name = "cardNumber",
@autocomplete = "cc-number",
@required = "required",
@autofocus = "autofocus",
@placeholder = "Valid Card Number"
})
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="cardExpiry">
                                    <span class="hidden-xs">Expiration Date</span>
                                    @*<span class="visible-xs-inline">EXP</span> DATE*@
                                </label>
                                @*<input type="tel"
        class="form-control"
        name="cardExpiry"
        placeholder="MM / YY"
        autocomplete="cc-exp"
        required />*@
                                @Html.TextBoxFor(m => m.PaymentModel.ExpirationDate, "MM / YY",
new
{
@class = "form-control",
@style = "width: 100%",
@type = "tel",
@name = "cardExpiry",
@autocomplete = "cc-exp",
@required = "required",
@autofocus = "autofocus",
@placeholder = "MM / YY"
})
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="cardCVC">CVV Code</label>
                                @*<input type="tel"
        class="form-control"
        name="cardCVC"
        placeholder="CVV"
        autocomplete="cc-csc"
        required />*@
                                @Html.TextBoxFor(m => m.PaymentModel.CVVNumber, "CVV",
new
{
@class = "form-control",
@style = "width: 100%",
@type = "tel",
@name = "cardCVC",
@autocomplete = "cc-csc",
@required = "required",
@autofocus = "autofocus",
@placeholder = "CVV"
})
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="couponCode">Coupon Code</label>
                                <input type="text" class="form-control" name="couponCode" />
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-success btn-lg btn-block" type="submit">Make Payment</button>
                        </div>
                    </div>
                    @*<div class="row" style="display:none;">
                        <div class="">
                            <p class="payment-errors"></p>
                        </div>
                    </div>*@
                }
                </div>
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->


        </div>



    </div>
</div>

<style>
    /* CSS for Credit Card Payment form */
    .credit-card-box .panel-title {
        display: inline;
        font-weight: bold;
    }

    .credit-card-box .form-control.error {
        border-color: red;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
    }

    .credit-card-box label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .credit-card-box .payment-errors {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .credit-card-box label {
        display: block;
    }
    /* The old "center div vertically" hack */
    .credit-card-box .display-table {
        display: table;
    }

    .credit-card-box .display-tr {
        display: table-row;
    }

    .credit-card-box .display-td {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    /* Just looks nicer */
    .credit-card-box .panel-heading img {
        min-width: 180px;
    }
</style>

